<app-card title="Login">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    @for (el of inputs; track $index) {
    <app-input-comp
      [labelFor]="el.labelFor"
      [labelName]="el.labelName"
      [inputType]="el.inputType"
      [inputId]="el.inputId"
      [style]="{ 'margin-top': '20px' }"
      formControlName="{{ el.formControlName }}"
    >
    </app-input-comp>
    }

    <button type="submit">Submit</button>
  </form>
</app-card>

<div style="margin-top: 20px">
  <p>Email: admin&#64;gmail.com</p>
  <p>Password: admin123</p>
</div>
