<app-card title="Add Colors">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    @for (el of inputs; track $index) {
    <app-input-comp
      [labelFor]="el.labelFor"
      [labelName]="el.labelName"
      [inputType]="el.inputType"
      [inputId]="el.inputId"
      [style]="{ 'margin-top': '20px' }"
      formControlName="{{ el.formControlName }}"
      tooltipText={{el.tooltipText}}
    >
    </app-input-comp>
    }

    <button type="submit" [disabled]="myForm.invalid">Submit</button>
  </form>
</app-card>
