.input-item {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-self: center;
  input {
    width: 80%;
    margin-left: 1px;
  }
}

@media (max-width: 600px) {
  .input-item {
    width: 100%;
    input {
      width: 74%;
    }
  }
}
