<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name" />

  <label for="price">Price:</label>
  <input type="number" id="price" formControlName="price" />

  <label for="desc">Description:</label>
  <input type="text" id="desc" formControlName="desc" />

  <select class="custom-select mb-3" formControlName="categoryId">
    <option value="">Choose Category</option>
    <option *ngFor="let cat of categories" [ngValue]="cat.id">
      {{ cat.name }}
    </option>
  </select>

  <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form> -->

<app-card title="Add products">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    @for (el of inputs; track $index) {

    <app-input-comp
      [labelFor]="el.labelFor"
      [labelName]="el.labelName"
      [inputType]="el.inputType"
      [inputId]="el.inputId"
      [formControlName]="el.formControlName"
      [style]="{ 'margin-top': '20px' }"
    >
    </app-input-comp>
    }

    <div class="select-cat">
      <label for="cat">Category:</label>
      <select
        name="cat"
        class="custom-select mb-3"
        formControlName="categoryId"
        title="categories"
      >
        <option value="">Choose Category</option>
        <option *ngFor="let cat of categories" [ngValue]="cat.id">
          {{ cat.name }}
        </option>
      </select>
    </div>

    <button type="submit" [disabled]="myForm.invalid">Submit</button>
  </form>
</app-card>

<br />
<br />
<br />

<app-card title="Add product details">
  <app-add-product-details (stc)="getStcData($event)"></app-add-product-details>
</app-card>
