<mat-nav-list>
  <header>
    <h2>Admin Panel</h2>
  </header>

  <mat-divider></mat-divider>

  @for (item of listItems; track $index) { @if (item.subData) {
  <mat-expansion-panel
    [ngStyle]="{
      'background-color': checkUrl(item.subData) ? '#3c3c3c' : 'transparent'
    }"
    (afterExpand)="handleClick($index)"
    [expanded]="$index === selectedItem"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ item.name }} </mat-panel-title>
    </mat-expansion-panel-header>

    @for (el of item.subData; track $index) {

    <a
      mat-list-item
      routerLink="{{ el.path }}"
      routerLinkActive="list-item-active"
      >{{ el.name }}</a
    >
    }
  </mat-expansion-panel>
  } @else {
  <a
    mat-list-item
    routerLink="{{ item.path }}"
    routerLinkActive="list-item-active"
    >{{ item.name }}</a
  >} }
</mat-nav-list>
